.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation-name: ballMovement;
    animation-iteration-count: infinite;
  }
  
  #ball_1 {
    background-color: red;
    position: absolute;
    top: 10px;
    left: 45%;
    animation-duration: 2s;
    animation-timing-function: ease;
  }
  
  #ball_2 {
    background-color: green;
    position: absolute;
    top: 10px;
    left: 55%;
    animation-duration: 2s;
    animation-timing-function: ease-in;
  }
  
  #ball_3 {
    background-color: blue;
    position: absolute;
    top: 10px;
    left: 65%;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }

  #ball_4 {
      background-color: purple;
      position: absolute;
      top: 10px;
      left: 35%;
      animation-duration: 2s;
      animation-timing-function: linear;
  }
  
  @keyframes ballMovement {
    0% {
      top: 10px;
    }
    100% {
      top: 350px;
    }
  }